@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-red {
    background: linear-gradient(to right bottom, #B81122 50%, #AC0C1C 50%);
    border: 2px solid #990E1C
}

.gradient-green {
    background: linear-gradient(to right bottom, #50CB68 50%, #49BF60 50%);
    border: 2px solid #43B058
}

.gradient-blue {

    background: linear-gradient(to right bottom, #0194F7 50%, #008AE6 50%);
    border: 2px solid #017FD4
}

.gradient-navigation {
    background: linear-gradient(to right bottom, #B81122 50%, #AC0C1C 50%);
}